body {
  background-image: url(img/bg4.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
#home1{
	background:;
	color:white;
	text-decoration:none;
	padding:10px 30px;
	text-align:center;
	font-size:20px;
	border:2px dotted gray;
	border-radius: 0px;
}
#home1:hover{
	color:white;
	text-decoration: none;
	background: black;
	font-weight: bold;
}	
#centered1{
	padding:px;
	position:absolute;
	top: 75%;left:50%;
	transform:translate(-50%, -50%);
}
#left1{
	padding:0px;
	position:absolute;
	top: 50%;
	transform:translate(-50%, -50%);
}
#right1{
	padding:0px;
	position:absolute;
	top: 50%;right:0px;
	transform:translate(-50%, -50%);
}
#next1{
	background:red;
	padding:15px;
	font-size:20px;
	color:white;
	text-decoration:none;
	border:2px dotted white;
}
#next1:hover{
	text-decoration: none;
	font-weight: bold;
		padding:17px;
}
#prev1{
	background:red;
	padding:15px;
	font-size:20px;
	color:white;
	text-decoration:none;
	border:2px dotted white;
}
#prev1:hover{
	text-decoration: none;
	font-weight: bold;
	padding:17px;
}	
